<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Share</title>

    <link rel="stylesheet" href="/styles/catalogo.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>

    <section class="left">
        <div class="sidebar__container">
            <div class="sidebar__header">
                <div class="logo">
                    F
                </div>
                <p>Technical Share</p>
            </div>
            <div class="sidebar__menu">
                <ul>
                    <a href="/home/<%=userName%>/<%=userEmail%>">
                        <li class="menu__home">
                            <img src="/images/home.svg" alt=""> Home</li>
                    </a>
                    <a id="sangueLaranja" href="">
                        <li class="menu__sanguesLaranja">
                            <img src="/images/sangue.svg" alt=""> Sangues laranja</li>
                    </a>
                    <a href="">
                        <li class="menu__perfil">
                            <img src="/images/people.svg" alt=""> Perfil
                        </li>
                    </a>
                </ul>
                <div class="menu__user">
                    <p id="userName"><%=userName%></p>
                    <p id="userEmail"><%=userEmail%></p>
                </div>
            </div>
        </div>
    </section>

    <main class="center">
        <div class="center__container">

            <div class="center__top">
                <div class="top__welcome">
                    <h1>Olá, <%= userName %></h1>
                    <p>Conecte-se com sangues laranjas, tire suas dúvidas e agende mentorias</p>
                </div>
                <div class="top__search">
                    <form id="search_form" action="">
                        <input id="user_search" type="text"
                            placeholder="Pesquise por tags de assunto, colaborador, cargo...">
                        <button type="submit" id="send_form_button"><img src="/images/search.svg" alt=""></button>
                    </form>
                </div>
            </div>

            <div class="center__down">
            </div>
        </div>
    </main>

</body>

<script src="/scripts/pesquisa.js"></script>

<script>
    let name = `<%-name%>`
    name = name.split(',')
    let id = `<%-id%>`
    id = id.split(',')
    let tag = `<%-tag%>`
    tag = tag.split(',')
    let office = `<%-office%>`
    office = office.split(',')
    let picture = `<%-picture%>`
    picture = picture.split(',')
    let email = `<%-email%>`
    email = email.split(',')
    let gender = `<%-gender%>`
    gender = gender.split(',')
    let injectHTML = document.querySelector('.center__down')

    if(name.length > 1){
    for (let i = 0; i < name.length; i++) {
        injectHTML.innerHTML += `            <div class="perfil__card">
    <div class="card__top">
        <img src="/uploads/${picture[i]}" alt="">
    </div>
    <div class="card__bottom">
        <div class="bottom__personal">
            <div class="personal__title">
                <h2>${name[i]}</h2>
                <h3>${office[i]}</h3>
            </div>
            <div class="personal__gender">
                <p>${gender[i]}</p>
            </div>
        </div>
        <div class="tag__button">
            <div class="personal__tags personal__tags${i}">
            </div>
            <a class="seeButton" href="">Ver perfil</a>
        </div>
    </div>
</div>`

        tag[i] = tag[i].split(';')
        let injectTags = document.querySelector(`.personal__tags${i}`)
        for (let j = 0; j < tag[i].length; j++) {
            injectTags.innerHTML += `<p>${tag[i][j]}</p>`
        }
    }
}   else{
    
    injectHTML.innerHTML += `<a id="theansweris"
                                        href="http://www.keepcalmandposters.com/poster/5838113_dont_panic_the_answer_is_42"><img src="https://poster.keepcalmandposters.com/default/5838113_dont_panic_the_answer_is_42.png"
                                                                         alt="DON'T PANIC THE ANSWER IS 42 Poster"/></a>`
                                                    alert('Nenhum #sanguelaranja encontrado =(')
}
</script>



</html>