<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Share</title>

    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>

    <section class="left">
        <div class="sidebar__container">
            <div class="sidebar__header">
                <div class="logo">
                    F                
                </div>
                <p>Technical Share</p>
            </div>
            <div class="sidebar__menu">
                <ul>
                    <a href="/home/<%=userName%>/<%=userEmail%>">
                        <li class="menu__home">
                            <img src="/images/home.svg" alt=""> Home</li>
                    </a>
                    <a id="sangueLaranja" href="">
                        <li class="menu__sanguesLaranja">
                            <img src="/images/sangue.svg" alt="">  Sangues laranja</li>
                    </a>
                    <a href="">
                        <li class="menu__perfil">
                            <img src="/images/people.svg" alt="">  Perfil
                        </li>
                    </a>
                </ul>
                <div class="menu__user">
                    <p id="userName"><%=userName%></p>
                    <p id="userEmail"><%=userEmail%></p>
                </div>
            </div>
        </div>
    </section>

    <main class="center">
        <div class="center__container">

            <div class="center__top">
                <div class="top__welcome">
                    <h1>Olá, <%= userName %></h1>
                    <p>Conecte-se com sangues laranjas, tire suas dúvidas e agende mentorias</p>
                </div>
                <div class="top__search">
                    <form id="search_form" action="">
                        <input id="user_search" type="text" placeholder="Pesquise por tags de assunto, colaborador, cargo...">
                        <button type="submit" id="send_form_button"><img src="/images/search.svg" alt=""></button>
                    </form>
                </div>   
            </div>
                                  
            <div class="center__down">
                <div class="down__mentor">
                    <h2>Sou mentor</h2>
                    <div class="card">
                        <div class="date">
                            <p>Dia</p>
                            <h3>19</h3>
                        </div>
                        <div class="hour">
                            <p>Das 13h00 às 14h30</p>
                        </div>
                        <div class="who">
                            <img src="/images/small_picture.svg"alt="">
                            <p>Gabriel Almeida</p>
                        </div>
                    </div>
                </div>
                <div class="down__mentorado">

                    <h2>Sou mentorado</h2>
                    <div class="card">
                        <div class="date">
                            <p>Dia</p>
                            <h3>19</h3>
                        </div>
                        <div class="hour">
                            <p>Das 13h00 às 14h30</p>
                        </div>
                        <div class="who">
                            <img src="/images/small_picture.svg" alt="">
                            <p>Gabriel Almeida</p>
                        </div>
                    </div>

                </div>
            </div>
        
        </div>

    </main>

    <section class="right">

        <div class="right__container">
            <h2>Notificações</h2>


        </div>


    </section>

    <div class="modal-wrapper">
        <div class="modal">
            <div class="modal__header">
                <h2 id="modalTitulo"></h2>
            </div>
            <div class="modalinject">

                
                    
                      
                        
                        
                    </div>
                </div>
                    <div class="modal__responder">
                        <form action="">
                            <textarea rows="5" cols="50">
                </textarea>
                <button>Enviar</button>
            </form>
        </div>
    </div>


</body>

<script src="/scripts/pesquisa.js"></script>


<script>

let idQuestion = `<%-idQuestion%>`
idQuestion = idQuestion.split(',')

let quemPerguntou = `<%-quemPerguntou%>`
quemPerguntou = quemPerguntou.split(',')

let historico = `<%-historico%>`
historico = historico.split('],[')
//console.log(historico.length)
for (let i = 0; i < historico.length; i++){
    if(i == 0){
        historico[i] = `${historico[i]}` + "]"
        historico[i] = JSON.parse(historico[i])
    }   else{
            if(i == historico.length-1){
                historico[i] = "[" + `${historico[i]}`
                historico[i] = JSON.parse(historico[i])
            }   else{
                    historico[i] = "[" + `${historico[i]}` + "]"
                    historico[i] = JSON.parse(historico[i])
                }
        }
}

// console.log(idQuestion)
// console.log(quemPerguntou)
// console.log(historico)

let injectHTML = document.querySelector('.right__container')

    for (let i = 0; i < idQuestion.length; i++){
      injectHTML.innerHTML +=`
            <div class="pop">
                <img src="/uploads/profilepicture-${quemPerguntou[i]}.svg" alt="">
                <div class="pop__text">
                    <h3>${quemPerguntou[i]}</h3>
                    <p>Te fez uma pergunta!!</p>
                </div>
                <div id="${[i]}" class="por__ver">Ver</div>
            </div>

        </div>`}

let verButton = document.querySelectorAll('.por__ver')
injectHTML = document.querySelector('.modalinject')

for (let i = 0; i < verButton.length; i++){
    verButton[i].addEventListener("click", function(){
        let id = verButton[i].id
        console.log(id)
        document.querySelector('#modalTitulo').textContent = `Sua conversa com ${quemPerguntou[id]}`

        console.log(historico[id].length)
        for(let i = 0; i < historico[id].length; i++){
            console.log(historico[id][i])
            injectHTML.innerHTML += `<div class="modal__historico">
                    <p>${historico[id][i].texto}</p>
                    <div class="modal__autor">
                        <div class="avatar">
                            <img src="./images/pop_picture.svg" alt="">
                            <h3>${historico[id][i].de}</h3>
                        </div>
                    </div>  `
        }

  

        document.querySelector('.modal-wrapper').classList.add("active")
    })
}



    // document.querySelector('#modalTitulo').textContent = `Sua conversa com ${quemPerguntou[id]}`



    // document.querySelector('.modal-wrapper').classList.add("active")


</script>

</html>